[Desktop Entry]
Name=KWebCam
Name[ast]=KWebCam
Name[bg]=KWebCam
Name[bs]=KWebCam
Name[ca]=KWebCam
Name[ca@valencia]=KWebCam
Name[cs]=KWebCam
Name[da]=KWebCam
Name[de]=KWebCam
Name[el]=KWebCam
Name[en_GB]=KWebCam
Name[eo]=KWebCam
Name[es]=KWebCam
Name[et]=KWebCam
Name[fi]=KWebCam
Name[fr]=KWebCam
Name[ga]=KWebCam
Name[gl]=KWebCam
Name[hu]=KWebCam
Name[it]=KWebCam
Name[ja]=KWebCam
Name[kk]=KWebCam
Name[km]=KWebCam
Name[ko]=KWebCam
Name[lv]=KWebCam
Name[nb]=KWebCam
Name[nds]=KWebCam
Name[nl]=KWebCam
Name[nn]=KWebCam
Name[pa]=KWebCam
Name[pl]=KWebCam
Name[pt]=KWebCam
Name[pt_BR]=KWebCam
Name[ro]=KWebCam
Name[ru]=KWebCam
Name[sq]=KWebCam
Name[sr]=KWebCam
Name[sr@ijekavian]=KWebCam
Name[sr@ijekavianlatin]=KWebCam
Name[sr@latin]=KWebCam
Name[sv]=KWebCam
Name[tr]=KWebCam
Name[ug]=KWebCam
Name[uk]=KWebCam
Name[x-test]=xxKWebCamxx
Name[zh_CN]=KWebCam
Name[zh_TW]=KWebCam
Exec=kwebcam %i -caption "%c"
Icon=kwebcam
Type=Application
X-DocPath=kwebcam/index.html
GenericName=A KDE4 Application
GenericName[ast]=Una aplicación de KDE4
GenericName[bg]=Програма за KDE4
GenericName[bs]=KDE4 aplikacija
GenericName[ca]=Una aplicació del KDE4
GenericName[ca@valencia]=Una aplicació del KDE4
GenericName[cs]=Aplikace prostředí KDE
GenericName[da]=Et KDE4-program
GenericName[de]=Eine KDE-4-Anwendung
GenericName[el]=Μια εφαρμογή KDE4
GenericName[en_GB]=A KDE4 Application
GenericName[es]=Una aplicación de KDE4
GenericName[et]=KDE4 rakendus
GenericName[fi]=KDE4-sovellus
GenericName[fr]=Une application pour KDE4
GenericName[ga]=Feidhmchlár KDE4
GenericName[gl]=Un programa de KDE4
GenericName[hu]=KDE4-alkalmazás
GenericName[it]=Un'applicazione di KDE 4
GenericName[ja]=KDE 4 アプリケーション
GenericName[kk]=KDE4 қолданбасы
GenericName[km]=កម្មវិធី KDE4
GenericName[ko]=KDE4 프로그램
GenericName[lv]=KDE4 lietotne
GenericName[nb]=Et KDE4-program
GenericName[nds]=En KDE4-Programm
GenericName[nl]=Een KDE4-programma
GenericName[nn]=Eit KDE 4-program
GenericName[pa]=KDE4 ਐਪਲੀਕੇਸ਼ਨ
GenericName[pl]=Program dla KDE4
GenericName[pt]=Uma Aplicação do KDE4
GenericName[pt_BR]=Um aplicativo do KDE4
GenericName[ro]=O aplicație KDE4
GenericName[ru]=Приложение KDE4
GenericName[sq]=Një Program KDE 4
GenericName[sr]=КДЕ‑4 програм
GenericName[sr@ijekavian]=КДЕ‑4 програм
GenericName[sr@ijekavianlatin]=KDE4 program
GenericName[sr@latin]=KDE4 program
GenericName[sv]=Ett KDE4-program
GenericName[tr]=Bir KDE4 Uygulaması
GenericName[ug]=ك د ئې(KDE) 4 پروگراممىسى
GenericName[uk]=Програма для KDE4
GenericName[x-test]=xxA KDE4 Applicationxx
GenericName[zh_CN]=KDE4 应用程序
GenericName[zh_TW]=KDE4 應用程式
Terminal=false
